{% render "partials/head.liquid" %}


    <nav>
        <img id="logo" src="/assets/logo-small.png">

        <img id="logo-secondary" src="/assets/saved-icon.png">

        <img id="logo-tertiary" src="/assets/profile-icon.png">
    </nav>
    <h2>Finding and sharing gift ideas</h2>
    <article class="chatbox">

    </article>

    <ul>
    {% for product in data %}
        <li>
            {% comment %} <p>Slug: {{ product.slug }}</p>  {% endcomment %}
            
            {% comment %} <a href="/gifts/{{ product.slug }}">
                <h2>{{ product.title }}</h2>
            </a> {% endcomment %}

            <button class="grid-save"><img id="grid-save" src="/assets/save-icon.png"></button>
            <a href="/gifts/{{ product.slug }}">
            <button class="grid-image">
                <img  src="{{ product.image }}" alt="{{ product.title }}">
            </button>
            </a>
            <p>{{ product.name }}</p>
        </li>
    {% endfor %}
    </ul>

    {% comment %} iets met position sticky toevoegen {% endcomment %}



{% render "partials/foot.liquid" %}